<h1>Edit Student</h1>
<form action="" method="POST" role="form">

	<div class="form-group">
		<label for="">massv</label>
		<input type="text" class="form-control" [(ngModel)]="student.massv" [ngModelOptions]="{standalone: true}">
	</div>

	<div class="form-group">
		<label for="">name</label>
		<textarea type="text" class="form-control" [(ngModel)]="student.name" [ngModelOptions]="{standalone: true}"></textarea> 
	</div>

	<div class="form-group">
		<label for="">age</label>
		<textarea type="number" class="form-control" [(ngModel)]="student.age" [ngModelOptions]="{standalone: true}"></textarea> 
	</div>

	<button type="submit" class="btn btn-primary" [style.margin-top.px]="30" (click)="onEditStudent()">Update</button>
</form>
